
* {
    margin: 0px;
    padding: 0px;
}

#container {
    width: 950px;
    background-color: silver;
    margin: 0px auto;

}

#header {
    min-height: 150px;
    background-color: green;
}

#navigation {
    min-height: 400px;
    width: 250px;
    background-color: indianred;
}

#main-contents {
    min-height: 400px;
    width: 695px;
    background-color: gold;
}

.sub-contents {
    display: inline-block;
    min-height: 200px;
    width: 210px;
    background-color: crimson;
}

#ad-content {
    min-height: 120px;
    width: 660px;
    background-color: darkmagenta;
}