
* {
    margin: 0px;
    padding: 0px;
}

#container {
    width: 960px;
    height: auto;
    overflow: hidden;
    background-color: silver;
    margin: 0px auto;
    box-sizing: border-box;

}

#header {
    min-height: 150px;
    background-color: green;
    margin: 10px;
}

#navigation {
    min-height: 300px;
    width: 200px;
    margin: 10px;
    background-color: blue;
}

#main-contents {
    min-height: 400px;
    width: 700px;
    background-color:red;
    margin: 10px;
    position: relative;
    float: right;
}
#navigation, #main-contents {
    display: inline-block;
}
.sub-contents {
    display: inline-block;
    min-height: 200px;
    width: 210px;
    margin: 10px;
    background-color: yellow;
}

#ad-content {
    min-height: 120px;
    width: 670px;
    margin: 10px;
    background-color: darkmagenta;
}